name: Java CI with Maven

on:
  push:
    branches: [ "main" ] # Adjust if your main branch is named differently, e.g., master
  pull_request:
    branches: [ "main" ] # Adjust if your main branch is named differently

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Build with Maven
      run: mvn -B verify --file pom.xml

    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: QuestDiamonds-0.1.0.jar
        path: target/QuestDiamonds-0.1.0.jar
